<h1>MenuItems#index</h1>
<p>Find me in app/views/menu_items/index.html.erb</p>

  <%= @menu_items.inspect %>
<%#@menu_items.each do |dish| %>
  <li><%#= dish.inspect %></li>
  <li><%#= dish.name %></li>
  <li><%#= dish.description %></li>
<%# end %>
</ul>
