<div id="contact" class="section" style="overflor: hidden;">
  <div class="fixed-wrapper">
    <h1>Company: <small><em><%= @company.name %></em></small></h1>
  </div>
</div>
<div class="container" style="overflow: hidden; margin-top: -.2%; width: auto;">
  <div class="content" style="margin-top: 10%; height: 600px;">
    <ul class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">company title</h4>
        <p class="list-group-item-text">company date</p>
      </a>
      <li class="list-group-item">company title</li>
      <li class="list-group-item">company content</li>
      <li class="list-group-item">company date</li>
      <li class="list-group-item">view</li>
      <li class="list-group-item">edit</li>
      <li class="list-grou-item">delete</li>
    </ul>
  </div><!--/.content-->
</div><!--/.container-->
