<% flash.each do |type, message| %>
  <div id="alert" class="section>
    <div class="fixed-wrapper">
      <div class="alert class="close data-dismiss="alert">
        <div class="alert <%= bootstrap_class_for(type) %> fade in">
          <button class="close" data-dismiss="alert">x</button>
          <h3><%= type.capitalize %></h3> <p><%= message %></p>
        </div>   
      </div>
    </div>
  </div>
<% end %>
